<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Portfólio Acadêmico</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <h1>Portfólio Acadêmico</h1>
        <nav>
            <a href="/">Início</a> |
            <a href="/projetos">Projetos</a>
        </nav>
    </header>
    <main>